* {
  font-family: oxygen, sans-serif;
}

h1 {
  color: purple;
}

.info-box h2 {
  color: purple;
}

.main-list li{
font-size: 20px;
font-weight: 300;
line-height: 1.7;
}

p{
font-size: 20px;
font-weight: 300;
line-height: 1.7;
}